<!DOCTYPE html>
<html>
<head>
    <title>Departments</title>
</head>
<body>
    {% extends "./base.html" %}
    {% block content %}
    <h1>Department</h1>
    <div>
        {% for department in departments %}
            <h2>{{ department.deptname }}</h2>

    <a href="{% url 'department_form' department.id %}">Update Department</a>
    <br>
    <a href="{% url 'department_delete' department.id %}">Delete Department</a>
</div>
       {% endfor %}
    {% endblock %}

</body>
</html>