<!DOCTYPE html>
<html>
<head>
    <title>Enrollments</title>
</head>
<body>
    {% extends "./base.html" %}
    {% block content %}
    <h1>Enrollment</h1>
    <div>
        {% for enrollment in enrollments %}
            <h2>{{ enrollment.enrollmentdate }}</h2>

    <a href="{% url 'enrollment_form' enrollment.id %}">Update Enrollment</a>
    <br>
    <a href="{% url 'enrollment_delete' enrollment.id %}">Delete Enrollment</a>
</div>
       {% endfor %}
    {% endblock %}

</body>
</html>