<!DOCTYPE html>
<html>
<head>
    <title>Instructors</title>
</head>
<body>
    {% extends "./base.html" %}
    {% block content %}
    <h1>Head Instructor</h1>
    <div>
        {% for headinstructor in headinstructors %}
            <h2>{{ headinstructor.headinstructorname }}</h2>

    <a href="{% url 'headinstructor_form' headinstructor.id %}">Update Head Instructor</a>
    <br>
    <a href="{% url 'headinstructor_delete' headinstructor.id %}">Delete Head Instructor</a>
</div>
       {% endfor %}
    {% endblock %}

</body>
</html>