<!DOCTYPE html>
<html>
<head>
    <title>Instructors</title>
</head>
<body>
    {% extends "./base.html" %}
    {% block content %}
    <h1>Instructor</h1>
    <div>
        {% for instructor in instructors %}
            <h2>{{ instructor.instructorname }}</h2>

    <a href="{% url 'instructor_form' instructor.id %}">Update Instructor</a>
    <br>
    <a href="{% url 'instructor_delete' instructor.id %}">Delete Instructor</a>
</div>
       {% endfor %}
    {% endblock %}

</body>
</html>